name: GitHub-Profile-Summary-Cards

on:
  schedule: # Her 24 saatte bir çalışır
    - cron: "0 0 * * *"
  workflow_dispatch: # Manuel tetikleme için

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v2
      
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.PROFILE_SUMMARY_CARD_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
          # Buraya Private repoları da dahil etmek için kendi tokenimizi kullanıyoruz
